body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 50px;
    background-color: aqua;
}

button {
    background-color: antiquewhite;
    color: deeppink;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: beige;
}